services:
  lgtm:
    image: grafana/otel-lgtm
    volumes:
      - ~/.lgtm:/data
    ports:
      - "4317:4317"
      - "4318:4318"
      - "3000:3000"
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: pg
      POSTGRES_PASSWORD: pg
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U pg -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
  pgbouncer:
    image: edoburu/pgbouncer
    ports:
      - "6432:6432"
    environment:
      DATABASE_URL: postgres://pg:pg@postgres:5432/postgres
    volumes:
      - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
      - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt
    depends_on:
      postgres:
        condition: service_healthy

